.form{
    margin-top: 1.5rem;
}

.form1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem 7rem 0 7rem;
}

.pt1{
    width: 48%;
}

.entry{
    width: 100%;
    margin-bottom: 1.5rem;
}

.label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

::-webkit-input-placeholder { /* Edge */
    color: #e7e7e7;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #e7e7e7;
  }
  
  ::placeholder {
    color: #e7e7e7;
  }

.input{
    width: 100%;
    display: block;
    height: 2.5rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 2px solid #e7e7e7;
}

.tarea{
    width: 100%;
    display: block;
    resize: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 2px solid #e7e7e7;
    font-size: 1.1rem;
}

.input:focus, .tarea:focus{
    outline: none;
    border: 2px solid #a13a7c;
}

.rlabel{
    display: inline;
    width: 30%;
    margin-right: 1rem;
}

.realLabel,.fantasyLabel{
    vertical-align: super;
}

.radio{
    margin: 0 0.5rem 0 0;
    width: 1.5rem;
    height: 1.5rem; 
}

.form{
    width: 100%;
}

.saveBtn{
    cursor: pointer;
    display: block;
    background-image: linear-gradient(to bottom, #c10e4f , #8b2070);
    color: white;
    width: 25%;
    height: 3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    margin: 0 auto;
    border: none;
}

.saveBtn:active,.saveBtn:focus{
    outline:none;
}

.saveBtn:hover{
    -webkit-box-shadow: -1px 10px 20px -7px rgba(139,32,112,0.7); 
    box-shadow: -1px 10px 20px -7px rgba(139,32,112,0.7);
}

@media (max-width:40rem){
    .form1{
        width: 100%;
        display: block;
        padding: 2rem 0.5rem 0 0.5rem;
    }

    .pt1{
        width: 100%;
    }

    .saveBtn{
        width: 100%;
    }

}